<nav class="navbar navbar-expand-lg sticky-top navbar-advantage">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      AdVantage<span class="brand-ai">IA</span>
    <% end %>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item me-3">
            <%= link_to "Analisar Agora", select_type_analyses_path, class: "btn-nav-action" %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle user-dropdown-link" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-user-circle me-1"></i> <%= current_user.email.split('@').first %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow-sm border-0" aria-labelledby="userDropdown">
              <li>
                <%= link_to analyses_path, class: "dropdown-item" do %>
                  <i class="fas fa-history me-2 small"></i> Histórico de Análises
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                  <i class="fas fa-user-cog me-2 small"></i> Meu Perfil
                <% end %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item text-danger" do %>
                  <i class="fas fa-sign-out-alt me-2 small"></i> Sair
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Entrar", new_user_session_path, class: "btn-login" %>
          </li>
          <li class="nav-item">
            <%= link_to "Começar Análise Gratuita", new_user_registration_path, class: "btn-nav-action" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
